.bad-input {
    border-style: solid;
    border-width: 3px;
    border-color: red;
    color: red;
    display: inline-block;
}

.close_field {
    color: red;
    font-size: 3rem;
}

.input-space {
    max-width: 80%;
}

th > p {
    font-style: italic;
<<<<<<< HEAD
}

=======
}
>>>>>>> d5637f85379ec2b6638fe28bbd260b614b1d80c1
