{% extends 'base.html' %} {% block content %}
<h1>Add a recipe</h1>
<div class="row">
    <form action="{{ url_for('insert_recipe', user_id=user._id) }}" method="POST" class="col s12">
        <h3>Recipe Information</h3>
        <div class="submit_box">
            <div class="row">
                <div hidden class="input-field col s12">
                    <input id="username" name="username" type="text" value="{{ user.username }}" required autocomplete="sdfg">
                </div>
                <div hidden class="input-field col s12">
                    <input id="country" name="country" type="text" value="{{ user.country }}" required autocomplete="sdfg">
                </div>
                <div class="input-field col s12">
                    <h5>Name of Dish*</h5>
                    <input id="meal_name" name="meal_name" type="text" max-length="50" required autocomplete="sdfg">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <h5>Meal Description*</h5>
                    <p>Describe your meal in 100 characters or less</p>
                    <input id="meal_desc" name="meal_desc" type="text" data-length="100" required>
                </div>
                <div class="input-field col s4">
                    <h5>Number of people*</h5>
                    <p>How many can be served?</p>
                    <input id="serves" name="serves" type="number" min="1" required autocomplete="sdfg">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <h5>Type of Meal*</h5>
                    <select id="meal_type" name="meal_type" required="required">
                    <option value="">Select a meal</option>
                    {% for type in meal_types %}
                        <option value="{{type.meal_type}}">{{type.meal_type}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="input-field col s4">
                    <h5>Preparation Time*</h5>
                    <input id="prep_time" name="prep_time" type="number" placeholder="In minutes" min="1" required autocomplete="sdfg">
                </div>
                <div class="input-field col s4">
                    <h5>Cooking Time*</h5>
                    <input id="cook_time" name="cook_time" type="number" placeholder="In minutes" min="1" required autocomplete="sdfg">
                </div>
            </div>
            <div class="row">
                <h5 class="col s12">Please select if your meal is:</h5>
                <div class="col s4">
                    <p>
                        <label>
                    <input id="vegetarian" name="vegetarian" type="checkbox" />
                    <span>Vegetarian</span>
                </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                    <input id="vegan" name="vegan" type="checkbox" />
                    <span>Vegan</span>
                </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                    <input id="gluten_free" name="gluten_free" type="checkbox" />
                    <span>Gluten free</span>
                </label>
                    </p>
                </div>
            </div>
        </div>

        <h3>Recipe Ingredients</h3>
        <div class="submit_box">
            <div class="row">
                <table class="row table striped col s12">
                    <thead>
                        <tr>
                            <th class="col s2">
                                <h5>Amount*</h5>
                                <p>tbsp, grams, etc</p>
                            </th>
                            <th class="col s4">
                                <h5>Ingredient*</h5>
                                <p>The important element that makes your dish amazing</p>
                            </th>
                            <th class="col s5">
                                <h5>Preparation</h5>
                                <p>chopped, skinned, etc</p>
                            </th>
                        </tr>
                    </thead>

                    <tbody class="input_ingredients_wrap">
                        <tr>
                            <td class="col s2"><input type="text" id="amount[1]" name="amount[1]" required class="validate"></td>
                            <td class="col s4"><input type="text" id="ingredient[1]" name="ingredient[1]" required class="vaildate"></td>
                            <td class="col s5"><input type="text" id="prep[1]" name="prep[1]" class="validate"></td>
                        </tr>
                        <tr>
                            <td class="col s2"><input type="text" id="amount[2]" name="amount[2]" required class="validate"></td>
                            <td class="col s4"><input type="text" id="ingredient[2]" name="ingredient[2]" required class="vaildate"></td>
                            <td class="col s5"><input type="text" id="prep[2]" name="prep[2]" class="validate"></td>
                        </tr>
                        <tr>
                            <td class="col s2"><input type="text" id="amount[3]" name="amount[3]" required class="validate"></td>
                            <td class="col s4"><input type="text" id="ingredient[3]" name="ingredient[3]" required class="vaildate"></td>
                            <td class="col s5"><input type="text" id="prep[3]" name="prep[3]" class="validate"></td>
                        </tr>
                </table>
                <button class="add_ingredient_button btn waves-effect waves-light">Add Another Ingredient</button>
            </div>
        </div>
        <h3>Recipe Method</h3>
        <div class="submit_box">
            <div class="row">
                <div class="input_methods_wrap">
                    <div class="input-field col s12">
                        <h5>Step 1*</h5>
                        <textarea name="method[1]" id="method[1]" required class="materialize-textarea col s11"></textarea>
                    </div>
                </div>
                <button class="add_method_button btn waves-effect waves-light">Add Another Step</button>
            </div>
        </div>
        <h3>Allergens</h3>
        <p>Please select any of the following if they are in your recipe, click <a target="_blank" href="https://www.food.gov.uk/sites/default/files/media/document/top-allergy-types.pdf">here</a> for more details</p>
        <div class="submit_box">
            <div class="row">
                <div class="col s4">
                    <p>
                        <label>
                        <input id="celery" name="celery" value="Celery" type="checkbox" />
                        <span>Celery</span>
                    </label>
                    </p>
                    <p>
                        <label>
                        <input id="gluten" name="gluten" value="Gluten" type="checkbox" />
                        <span>Gluten</span>
                    </label>
                    </p>
                    <p>
                        <label>
                        <input id="crustaceans" name="crustaceans" value="Crustaceans" type="checkbox" />
                        <span>Crustaceans</span>
                    </label>
                    </p>
                    <p>
                        <label>
                        <input id="egg" name="egg" value="Egg" type="checkbox" />
                        <span>Egg</span>
                    </label>
                    </p>
                    <p>
                        <label>
                        <input id="fish" name="fish" value="Fish" type="checkbox" />
                        <span>Fish</span>
                    </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                        <input id="lupin" name="lupin" value="Lupin" type="checkbox" />
                        <span>Lupin</span>
                    </label>
                    </p>
                    <p>
                        <label>
                        <input id="milk" name="milk" value="Milk" type="checkbox" />
                        <span>Milk</span>
                    </label>
                    </p>
                    <p>
                        <label>
                        <input id="molluscs" name="molluscs" value="Molluscs" type="checkbox" />
                        <span>Molluscs</span>
                    </label>
                    </p>
                    <p>
                        <label>
                        <input id="mustard" name="mustard" value="Mustard" type="checkbox" />
                        <span>Mustard</span>
                    </label>
                    </p>
                    <p>
                        <label>
                        <input id="nuts" name="nuts" value="Nuts" type="checkbox" />
                        <span>Nuts</span>
                    </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                        <input id="peanuts" name="peanuts" value="Peanuts" type="checkbox" />
                        <span>Peanuts</span>
                    </label>
                    </p>
                    <p>
                        <label>
                        <input id="seasame_seeds" name="sesame_seeds" value="Sesame seeds" type="checkbox" />
                        <span>Sesame seeds</span>
                    </label>
                    </p>
                    <p>
                        <label>
                        <input id="soya" name="soya" value="Soya" type="checkbox" />
                        <span>Soya</span>
                    </label>
                    </p>
                    <p>
                        <label>
                        <input id="sulpher_dioxide" name="sulpher_dioxide" value="Sulpher dioxide" type="checkbox" />
                        <span>Sulpher dioxide (sulphates)</span>
                    </label>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="add_recipe_btn btn waves-effect waves-light" type="submit">Add Recipe
            <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
{% endblock %}
