<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Easy RecipEasy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>
<body>
    {% if user %}
        <header>
            <ul id="dropdown1" class="dropdown-content">
                <li class="divider"></li>
                <li><a href="{{ url_for('get_user_recipes', user_id=user._id) }}">My Recipes</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('get_favourite_recipes', user_id=user._id) }}">Favourites</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper z-depth-2">
                    <a href="{{ url_for('home', user_id=user._id) }}" class="brand-logo">Easy RecipEasy</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Hi, {{ user.first.capitalize() }}<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a href="{{ url_for('add_recipe', user_id=user._id) }}">Add Recipe</a></li>
                        <li><a href="{{ url_for('analytics', user_id=user._id) }}">Analytics</a></li>
                    </ul>
                </div>
            </nav>
    
            <ul class="sidenav" id="mobile-demo">
                <li class="mobile_greeting">
                    <h5>Hi, {{ user.first.capitalize() }}</h5>
                </li>
                <li><a href="{{ url_for('add_recipe', user_id=user._id) }}">Add Recipe</a></li>
                <li><a href="{{ url_for('get_user_recipes', user_id=user._id) }}">My Recipes</a></li>
                <li><a href="{{ url_for('get_favourite_recipes', user_id=user._id) }}">Favourites</a></li>
                <li><a href="{{ url_for('analytics', user_id=user._id) }}">Analytics</a></li>
                <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
            </ul>
        </header>
    {% else %}
        <header>
            <nav>
                <div class="nav-wrapper z-depth-2">
                    <a href="{{ url_for('home', user_id='0') }}" class="brand-logo">Easy RecipEasy</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
                        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                        <li><a href="{{ url_for('analytics', user_id='0') }}">Analytics</a></li>
                    </ul>
                </div>
            </nav>
    
            <ul class="sidenav" id="mobile-demo">
                <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
                <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                <li><a href="{{ url_for('analytics', user_id='0') }}">Analytics</a></li>
            </ul>
        </header>
    {% endif %}
    <div class="container content_background">
        
        {% block content %}
        {% endblock %}
        
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12 center-align">
                    <h5 class="footer-heading">Easy RecipEasy Recipes</h5>
                    <p>Made by users, for the users. Quick and easy recipes, particularly for students, working professionals or just about anyone!</p>
                </div>
                <div class="col l4 offset-l2 s12 center-align-mobile">
                    <h5 class="footer-heading">Useful Links</h5>
                    <ul>
                        {% if user %}
                            <li>
                                <a class="footer-link text-lighten-3 valign-wrapper" href="{{ url_for('analytics', user_id=user._id) }}">
                                    <i class="material-icons icon-position">pie_chart_outlined</i><span>Recipe data analytics</span>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a class="footer-link valign-wrapper" href="{{ url_for('analytics', user_id='0') }}">
                                    <i class="material-icons icon-position">pie_chart_outlined</i><span>Recipe data analytics</span>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="footer-link valign-wrapper"target="_blank" href="https://www.food.gov.uk/sites/default/files/media/document/top-allergy-types.pdf">
                                <i class="material-icons icon-position">info_outline</i><span>Allergen information</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center-align">
                © 2019 Easy RecipEasy
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block javascript %} {% endblock %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown-trigger").dropdown();
            $('input#meal_desc').characterCounter();
            $('.sidenav').sidenav();
            $('select').formSelect();
            $('select[required]').css({
                display: 'inline',
                position: 'absolute',
                float: 'left',
                padding: 0,
                margin: 0,
                border: '1px solid rgba(255,255,255,0)',
                height: 0,
                width: 0,
                top: '2em',
                left: '3em'
            });
            M.updateTextFields();
            
            var vHeight = $(window).height() - (20+ $('.nav-wrapper').height() + $('.page-footer').height());
            content_background = $('.content_background');
            content_background.css({"min-height":vHeight});
        });
    </script>
</body>

</html>
