<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Easy RecipEasy</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Login</a></li>
                <li><a href="{{url_for('sign_up')}}">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
    </ul>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        var password = document.getElementById("password"),
            confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            }
            else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
        
        var username = document.getElementById("username");

        function validateUsername() {
            if (newuser > 0) {
                username.setCustomValidity("Username already exists");
            }
            else {
                username.setCustomValidity('');
            }
        }
        username.onkeyup = validateUsername;

        $(document).ready(function() {
            $('.sidenav').sidenav();
            $('select').formSelect();
            M.updateTextFields();
            $(function() {
                $.ajax({
                    type: 'GET',
                    url: 'https://restcountries.eu/rest/v2/all?fields=name',
                    success: function(response) {
                        var countryArray = response;
                        var dataCountry = {};
                        for (var i = 0; i < countryArray.length; i++) {
                            dataCountry[countryArray[i].name] = countryArray[i].flag;
                        }
                        $('input.autocomplete').autocomplete({
                            data: dataCountry,
                            limit: 5,
                        });
                    }
                });
            });
        });
        
    </script>
</body>

</html>
