{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="row col s12">
    <h1>My Recipes</h1>
    </div>
    {% for recipe in user_recipes %}
    <div class="recipe_box row col s12">
        <div class="row col s12 recipe_heading">
            <p class="recipe_name col s12">{{recipe.meal_name}}</p>
        </div>
        <div class="row col s12 recipe_info">
            <i class="material-icons icon-size col s2 m1">local_dining</i>
            <p class="col s4 m2 center-align"> {{ recipe.meal_type }}</p>
            <i class="material-icons icon-size col s2 m1 offset-m1">access_time</i>
            <p class="col s4 m2 center-align"> {{ recipe.total_time_string }}</p>
            <i class="material-icons icon-size hide-on-small-only col m1 offset-m1">people_outline</i>
            <p class="col hide-on-small-only m2 center-align"> {{ recipe.serves }}</p>
        </div>
        <div class="row col s12 recipe_info hide-on-med-and-up">
            <i class="material-icons icon-size col s2">people_outline</i>
            <p class="col s4 center-align"> {{ recipe.serves }}</p>
            <p class="col s6 center-align">Favourited <b>{{ recipe.favourite_count }}</b> times</p>
        </div>
        {% if recipe.vegetarian or recipe.vegan or recipe.gluten_free %}
            <div class="row col s12 hide-on-small-only recipe_info">
                {% if recipe.vegetarian %}
                    <div class="col s4 center-align">
                        <img class="dietary-image" src="{{ url_for('static', filename='images/vegetarian-mark.svg') }}" height=40px>
                    </div>
                {% endif %} 
                {% if recipe.vegan %}
                    <div class="col s4 center-align">
                        <img class="dietary-image" src="{{ url_for('static', filename='images/Vegan-Symbol.png') }}" height=40px>
                    </div>
                {% endif %} 
                {% if recipe.gluten_free %}
                    <div class="col s4 center-align">
                        <img class="dietary-image" src="{{ url_for('static', filename='images/gluten-free.png') }}" height=40px>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="col m12 recipe_info hide-on-small-only">
            <p class="col m6 center-align">Added on: {{ recipe.date_added }}</p>
            <p class="col m6 center-align">Favourited <b>{{ recipe.favourite_count }}</b> times</p>
        </div>
        <div class="col s12 m4 view_recipe">
            <a href="{{ url_for('view_recipe', recipe_id=recipe._id, user_id=user._id) }}">
                <p>View this recipe</p>
            </a>
        </div>
        <div class="col s12 m4 edit_recipe">
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id, user_id=user._id) }}">
                <p>Edit this recipe</p>
            </a>
        </div>
        <div class="col s12 m4 delete_recipe">
            <a href="{{ url_for('delete_confirm', recipe_id=recipe._id, user_id=user._id) }}">
                <p>Delete this recipe</p>
            </a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
