{% extends 'base.html' %} {% block content %}
<h1>Search Results</h1>
<div class="recipe_box row col s12">
    <form action="{{ url_for('filter_recipes') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s9">
                <p>Search term:</p>
                <input id="search" name="search" type="text" required placeholder="Enter keywords" value="{{ search_params.search }}" autocomplete="sdfg">
            </div>
            <div class="input-field col s3 sort_by">
                <p>Sort by:</p>
                <select id="sort_by" name="sort_by" required="required">
                    <option value="favourites">Most favourited</option>
                    {% if search_params.sort_by == 'newest' %}
                    <option value="newest" selected>Newest first</option>
                    {% else %}
                    <option value="newest">Newest first</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Filter search results</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s3">
                                <h5>Time</h5>
                                <p>
                                    <label>
                                        {% if search_params.time == 'time_30' or search_params.time == 'time_30_60' or search_params.time == 'time_over_60' %}
                                            <input name="time" value="any_time" type="radio" />
                                        {% else %}
                                            <input name="time" value="any_time" type="radio" checked />
                                        {% endif %}
                                        <span>Any time</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        {% if search_params.time == 'time_30' %}
                                            <input name="time" value="time_30" type="radio" checked />
                                        {% else %}
                                            <input name="time" value="time_30" type="radio" />
                                        {% endif %}
                                        <span>30 minutes or less</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        {% if search_params.time == 'time_30_60' %}
                                            <input name="time" value="time_30_60" type="radio" checked />
                                        {% else %}
                                            <input name="time" value="time_30_60" type="radio" />
                                        {% endif %}
                                        <span>30-60 minutes</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        {% if search_params.time == 'time_over_60' %}
                                            <input name="time" value="time_over_60" type="radio" checked />
                                        {% else %}
                                            <input name="time" value="time_over_60" type="radio" />
                                        {% endif %}
                                        <span>60 minutes or over</span>
                                    </label>
                                </p>
                            </div>
                            <div class="col s3">
                                <h5>Dietry Requirements</h5>
                                <p>
                                    <label>
                            {% if search_params.vegetarian %}
                                <input id="vegetarian" name="vegetarian" type="checkbox" checked/>
                            {% else %}
                                <input id="vegetarian" name="vegetarian" type="checkbox"/>
                            {% endif %}
                            <span>Vegetarian</span>
                        </label>
                                </p>
                                <p>
                                    <label>
                            {% if search_params.vegan %}
                                <input id="vegan" name="vegan" type="checkbox"  checked/>
                            {% else %}
                                <input id="vegan" name="vegan" type="checkbox"/>
                            {% endif %}
                            <span>Vegan</span>
                        </label>
                                </p>
                                <p>
                                    <label>
                            {% if search_params.gluten_free %}
                                <input id="gluten_free" name="gluten_free" type="checkbox" checked/>
                            {% else %}
                                <input id="gluten_free" name="gluten_free" type="checkbox"/>
                            {% endif %}
                            <span>Gluten free</span>
                        </label>
                                </p>
                                <h5>Type of Meal</h5>
                                <select id="meal_type" name="meal_type">
                                    <option value="any_type">Any type</option>
                                    {% for type in meal_types %}
                                        {% if type.meal_type == search_params.meal_type %}
                                            <option value="{{type.meal_type}}" selected>{{type.meal_type}}</option>
                                        {% else %}
                                            <option value="{{type.meal_type}}">{{type.meal_type}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col s6">
                                <h5>Allergens</h5>
                                <p>select to omit any results with the following:</p>
                                <div class="col s4">
                                    <p>
                                        <label>
                                            {% if search_params.celery %}
                                            <input id="celery" name="celery" value="Celery" type="checkbox" checked/>
                                            {% else %}
                                            <input id="celery" name="celery" value="Celery" type="checkbox" />
                                            {% endif %}
                                        <span>Celery</span>
                                    </label>
                                    </p>
                                    <p>
                                        <label>
                                            {% if search_params.gluten %}
                                            <input id="gluten" name="gluten" value="Gluten" type="checkbox" checked/>
                                            {% else %}
                                            <input id="gluten" name="gluten" value="Gluten" type="checkbox" />
                                            {% endif %}
                                        <span>Gluten</span>
                                    </label>
                                    </p>
                                    <p>
                                        <label>
                                            {% if search_params.crustaceans %}
                                            <input id="crustaceans" name="crustaceans" value="Crustaceans" type="checkbox" checked/>
                                            {% else %}
                                            <input id="crustaceans" name="crustaceans" value="Crustaceans" type="checkbox" />
                                            {% endif %}
                                        <span>Crustaceans</span>
                                    </label>
                                    </p>
                                    <p>
                                        <label>
                                            {% if search_params.egg %}
                                            <input id="egg" name="egg" value="Egg" type="checkbox" checked/>
                                            {% else %}
                                            <input id="egg" name="egg" value="Egg" type="checkbox" />
                                            {% endif %}
                                        <span>Egg</span>
                                    </label>
                                    </p>
                                    <p>
                                        <label>
                                            {% if search_params.fish %}
                                            <input id="fish" name="fish" value="Fish" type="checkbox" checked/>
                                            {% else %}
                                            <input id="fish" name="fish" value="Fish" type="checkbox" />
                                            {% endif %}
                                        <span>Fish</span>
                                    </label>
                                    </p>
                                </div>
                                <div class="col s4">
                                    <p>
                                        <label>
                                            {% if search_params.lupin %}
                                            <input id="lupin" name="lupin" value="Lupin" type="checkbox" checked/>
                                            {% else %}
                                            <input id="lupin" name="lupin" value="Lupin" type="checkbox" />
                                            {% endif %}
                                        <span>Lupin</span>
                                    </label>
                                    </p>
                                    <p>
                                        <label>
                                            {% if search_params.milk %}
                                            <input id="milk" name="milk" value="Milk" type="checkbox" checked/>
                                            {% else %}
                                            <input id="milk" name="milk" value="Milk" type="checkbox" />
                                            {% endif %}
                                        <span>Milk</span>
                                    </label>
                                    </p>
                                    <p>
                                        <label>
                                            {% if search_params.molluscs %}
                                            <input id="molluscs" name="molluscs" value="Molluscs" type="checkbox" checked/>
                                            {% else %}
                                            <input id="molluscs" name="molluscs" value="Molluscs" type="checkbox" />
                                            {% endif %}
                                        <span>Molluscs</span>
                                    </label>
                                    </p>
                                    <p>
                                        <label>
                                            {% if search_params.mustard %}
                                            <input id="mustard" name="mustard" value="Mustard" type="checkbox" checked/>
                                            {% else %}
                                            <input id="mustard" name="mustard" value="Mustard" type="checkbox" />
                                            {% endif %}
                                        <span>Mustard</span>
                                    </label>
                                    </p>
                                    <p>
                                        <label>
                                            {% if search_params.nuts %}
                                            <input id="nuts" name="nuts" value="Nuts" type="checkbox" checked/>
                                            {% else %}
                                            <input id="nuts" name="nuts" value="Nuts" type="checkbox" />
                                            {% endif %}
                                        <span>Nuts</span>
                                    </label>
                                    </p>
                                </div>
                                <div class="col s4">
                                    <p>
                                        <label>
                                            {% if search_params.peanuts %}
                                            <input id="peanuts" name="peanuts" value="Peanuts" type="checkbox" checked/>
                                            {% else %}
                                            <input id="peanuts" name="peanuts" value="Peanuts" type="checkbox" />
                                            {% endif %}
                                        <span>Peanuts</span>
                                    </label>
                                    </p>
                                    <p>
                                        <label>
                                            {% if search_params.sesame_seeds %}
                                            <input id="sesame_seeds" name="sesame_seeds" value="Sesame seeds" type="checkbox" checked/>
                                            {% else %}
                                            <input id="sesame_seeds" name="sesame_seeds" value="Sesame seeds" type="checkbox" />
                                            {% endif %}
                                        <span>Sesame seeds</span>
                                    </label>
                                    </p>
                                    <p>
                                        <label>
                                            {% if search_params.soya %}
                                            <input id="soya" name="soya" value="Soya" type="checkbox" checked/>
                                            {% else %}
                                            <input id="soya" name="soya" value="Soya" type="checkbox" />
                                            {% endif %}
                                        <span>Soya</span>
                                    </label>
                                    </p>
                                    <p>
                                        <label>
                                            {% if search_params.sulpher_dioxide %}
                                            <input id="sulpher_dioxide" name="sulpher_dioxide" value="Sulpher dioxide" type="checkbox" checked/>
                                            {% else %}
                                            <input id="sulpher_dioxide" name="sulpher_dioxide" value="Sulpher dioxide" type="checkbox" />
                                            {% endif %}
                                        <span>Sulpher dioxide (sulphates)</span>
                                    </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <button class="add_recipe_btn btn waves-effect waves-light col m3 offset-m9" type="submit">Update results
            <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
<p>{{ number_of_recipes }} result(s) found.</p>
{% for recipe in found_recipes %}
<p>{{ recipe.meal_name }}</p>
<p>{{ recipe.total_time }}</p>
<p>{{ recipe.date_and_time }}</p>
<hr> {% endfor %} {% endblock %}
