{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="row col s12">
        <h3>Sign in</h3>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </div>
    {% if error %}
        <div class="row col s12">
            <div class="row col s12">
                <div class="bad-input">
                    <i class="material-icons col s1">error</i>
                    <span class="error_align col s11">{{error}}</span>
                </div>
            </div>
            <div class="row">
                <form action="{{ url_for('log_in') }}" method="POST" autocomplete="off">
                    <div class="col s12">
                        <div class="input-field col l6 s12">
                            <input id="username" name="username" type="text" required value="{{ request.form.username }}" autocomplete="sdfg">
                            <!-- after researching, putting a random string in the autocomplete attribute turns it off in the browser -->
                            <label for="username">Username</label>
                        </div>
                    </div>
    {% else %}
        <div class="row col s12">
            <div class="row">
                <form action="{{ url_for('log_in') }}" method="POST" autocomplete="off">
                    <div class="col s12">
                        <div class="input-field col l6 s12">
                            <input id="username" name="username" type="text" autocomplete="sdfg">
                            <label for="username">Username</label>
                        </div>
                    </div>
    {% endif %}
                    <div class="col s12">
                        <div class="input-field col l6 s12">
                            <input id="password" name="password" type="password" required autocomplete="sdfg">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light" type="submit">Sign In
                                <i class="material-icons right">chevron_right</i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="col s12">
                    <p>Don't have an account? Register <a href="{{url_for('sign_up')}}">here</a>.</p>
                </div>
            </div>
        </div>
</div>
        {% endblock %}
